* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main {
	min-height: 80vh;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
}
.space-even {
	display: flex;
	justify-content: space-evenly;
}
.space-between {
	display: flex;
	justify-content: space-between;
}
@media print {
	header{
        display: none;
    }
	footer {
		display: none!important;
	}
}
